.company {
  width: 200px;
}

.company__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0 0 15px;
}

.company__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.company__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}