.consultation {
  grid-column: 2/3;
}

.consultation__link {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #9E5FC4;
  text-align: center;
  padding: 14px;
  width: 290px;
  border: 1px solid #9E5FC4;
  border-radius: 60px;
  margin: 0 auto;
}